# Relating service wiring skeleton.
#
# Import this file from config/services.yaml when the component is installed:
#
# imports:
#     - { resource: services/relating.yaml }
#
# Boundary:
# - business services only;
# - no CRUD controllers or CRUD handlers;
# - no save/create/update/delete application service aliases;
# - no SQL-first infrastructure registrations.

services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    App\Relating\Controller\:
        resource: '../../src/Controller/*Controller.php'
        exclude:
            - '../../src/Controller/RelationBusinessRequestPayload.php'
            - '../../src/Controller/RelationBusinessResultPayload.php'
        tags: ['controller.service_arguments']

    App\Relating\Service\Application\:
        resource: '../../src/Service/Application/'
        tags:
            - { name: 'relating.application_service' }

    App\Relating\Service\:
        resource: '../../src/Service/'
        tags:
            - { name: 'relating.business_service' }

    App\Relating\Handler\:
        resource: '../../src/Handler/'
        tags:
            - { name: 'relating.business_message_handler' }

    App\Relating\DataFixtures\:
        resource: '../../src/DataFixtures/'
        tags:
            - { name: 'relating.demo_fixture' }


    App\Relating\Snapshot\:
        resource: '../../src/Snapshot/'
        tags:
            - { name: 'relating.read_model' }

    App\Relating\Service\ReadModel\:
        resource: '../../src/Service/ReadModel/'
        tags:
            - { name: 'relating.read_model_projector' }
